body {
    background: url("../images/background.jpg") repeat scroll 0 0 transparent;
}

select {
    width: 150px;
}

h1 {
    font-family: 'arial';
    font-size: 20px;
    color: #0D1953;
    font-weight: bolder;
}

fieldset{
    border-style: solid;
    border-radius: 8px 8px 8px 8px;
    border-width: 2px;
    height: auto;
    width: auto;
    border-color: #65acc4;
    padding: 10px 10px 10px 10px;
}

legend{
    border-style: solid;
    border-radius: 8px 8px 8px 8px;
    border-width: 2px;
    background-color: #9bcedf;
    border-color: #65acc4;
    margin-left: 15px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
/*
@font-face {
    font-family: "VNI-Bengus";
    src: url("font/VNI-Bengus.ttf") format("truetype");
}
*/
.header {
    background-color: #0d1953;
    height: 45px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.menu {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    color: white;
    /*font-family: "VNI-Bengus";*/
    font-size: 1.2em;
    font-weight: bolder;
}

.menu ul {
    margin: 0;
}

.menu ul li {
    list-style-type: none;
    float: left;
    margin: 12px 70px 0px 0px;
}

.space{
    height: 30px;
}

.wrapper .content{
    margin: 10px 0 0 0;
    height: auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.5);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


.wrapper .content .inner_content{
    margin: 0 20px 0 20px;
}

#grid {
    margin-left: -15px;
}

.col {
    width: 16.6%;
    float: left;
}

.section {
    overflow-y: scroll;
    margin-left: 15px;
    height: 100px;
    background: green;
}

.wrapper .content .inner_content .box{
    float: left;
    width: 300px;
    height: 300px;
    text-align: center;

}

.wrapper .content .inner_content .box .search_box{
    float: left;
    width: 280px;
    height: 280px;
    margin: 10px 10px 10px 10px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.wrapper .content .inner_content .box .search_box h3{
    color: #d21d23;
    font-size: 30px;
    font-family:'showcard gothic';
    margin: 60px 0 10px 0;
}

.wrapper .content .inner_content .box .search_box p{
    margin: 0 0 0 0;
    font-size: 20px;
    font-weight:bold;
    color: #8798a8;
}

.wrapper .content .inner_content .box .search_box table{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    font-size: 30px;
    font-weight:bold;
    color: #8798a8;
}

.wrapper .content .inner_content .box .search_box .right{
    float: right;
	margin: 0 0 0 0;
}

.wrapper .content .inner_content .box .search_box input.red {
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
    margin-bottom: auto;
    width: 150px;
    height: 30px;
    font-size: 15px;
	font-family:'verdana';
}



.wrapper .content .inner_content .box .product_box{
    float: left;
    width: 280px;
    height: 280px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.wrapper .content .inner_content .box .product_box .info{
    float: left;
    width: 280px;
    height: 42px;

}

.wrapper .content .inner_content .box .product_box .info p{
	margin-top: 5px;
    font-size: 18px;
	font-family:'vani'
}

.wrapper .content .inner_content .box .product_box img{
    float: left;
    width: 280px;
    height: 210px;
}

.wrapper .content .inner_content .box .product_box .detail {
    float: left;
    display: block;
    width: 90px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: url(../images/detail.jpg);
}
.wrapper .content .inner_content .box .product_box .add_to_card {
    float: left;
    display: block;
    width: 190px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    background: url(../images/add_to_cart.jpg);
}

.wrapper .content .categories{
    height: 250px;
    background-color: #ffe469;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #db2e2a;
    margin: 30px 20px 0 20px;
}

.wrapper .content .categories .category{
    float: left;
    width: 280px;
    height: 20px;
    text-align: center;
}

.wrapper .content .categories .category #doll{
    height: 220px;
    background: url(../images/categories.png) no-repeat scroll 35px -325px;
}
.wrapper .content .categories .category #doll:hover{
    height: 220px;
    background: url(../images/categories.png) no-repeat scroll 23px -71px;
}

.wrapper .content .categories .category #toys{
    height: 220px;
    background: url(../images/categories.png) no-repeat scroll -438px -288px;
}
.wrapper .content .categories .category #toys:hover{
    height: 220px;
    background: url(../images/categories.png) no-repeat scroll -438px -89px;
}

.wrapper .content .categories .category #robot{
    height: 220px;
    background: url(../images/categories.png) no-repeat scroll -214px -305px;
}
.wrapper .content .categories .category #robot:hover{
    height: 220px;
    background: url(../images/categories.png) no-repeat scroll -214px -81px;
}

.wrapper .content .banner{
    margin: 0 20px 0 20px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.container {
}

.container .search{
    margin: 22px 0 0 0;
    float: left;
}

.container .search img{
    width: auto;
    height: 30px;
}

.container .cart {
    margin: 0 0 0 30px;
    float: left;
    width: 65%;
}

.container .cart img{
    width: auto;
    height: 55px;
    float: left;
}
.container .cart p{
    margin: 5px 0 0 78px;
}

.container .cart p#view_count{
    color: red;
    font-weight: bolder;
}

.container .cart p#cart_detail{
    color: blue;
    font-weight: bolder;
}

.clear {
    clear: both;
}

.footer{
    margin-top:10px;
	background: url("../images/footer.jpg") repeat scroll 0 0 transparent;
	height: 220px;
}
.footer .footer_content{
	margin-left: auto;
    margin-right: auto;
    width: 940px;
	height:220px;

}

.footer .footer_content .online_service{
	float: left;
	width: 470px;
	height: 160px;
}

.footer .footer_content .online_service .unavailable{
	width:200px;
	height: 160px;
	background:url(../images/service_image.png) 0px 0px;
	background-repeat: no-repeat;
	float: left;
	margin: 0 10px 0 30px;
}

.footer .footer_content .online_service .available{
	width:200px;
	height: 160px;
	background-repeat: no-repeat;
	background:url(../images/service_image.png) 200px 0px;
	float: left;	margin: 0 30px 0 0s;
}

.footer .footer_content .contact{
	float: left;
	width: 470px;
	height: 180px;
}
.footer .footer_content .space{
	float: left;
	width: 470px;
	height: 80px;
}

.footer .footer_content .contact .info{
	float: left;
	width: 350px;
	height: 40px;
	font-size: 24px;
	font-weight: bolder;
	margin: 10px 0 0 0;
	color: #ffffff;
	font-family: "verdana";
}

.footer .footer_content .contact .deskPhone{
	float: left;
	width: 58px;
	height: 50px;
	margin: 0 0 0 30px;
	background-image: url(../images/contact_image.png); background-repeat: no-repeat; background-position: -34px 0 ;
}

.footer .footer_content .contact .mobile{
	float: left;
	width: 33px;
	height: 50px;
	margin: 0 15px 0 40px;
	background-image: url(../images/contact_image.png); background-repeat: no-repeat; background-position: 0 0 ;
}

.footer .footer_content .slogan{
	float: left;
	width: 940px;
	height: 40px;
	text-align: center;
	font-size: 22px;
	font-family: "verdana";
	font-weight: bold;
	Color: #fff;
}

.price_search{
    margin: 20 0 0 20px;
    border-radius: 8px 8px 8px 8px;
    border-style: solid;
    border-width: 2px;
    height: auto;
    width: 250px;
    background-color: #9bcedf;
    border-color: #65acc4;
    text-align: center;
    padding: 10px 0 10px 0;
    float: left;
}

.price_search table{
    margin: 5px 5px 5px 10px;
}

.price_search table td{
    min-width: 45px;
}

.about_us {
    float: left;
    width: 590px;
    margin-left: 50px;
    color: blue;
}
